#main {
  margin-top: 100px;
}
.user-container {
  margin-right: 20px;
  width: 200px;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 1px 13px rgba(0,0,0,0.3);
  border-radius: 10px;
  text-align: center;
}
.user-container a,
.user-container h4 {
  font-family: 'Roboto';
  color: #df3e7b;
  font-weight: bold;
}
.user-container h4 {
  color: #b4245e;
}
.user-container .blog {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
}
.user-container .social {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
}
.user-container .social .entry {
  display: inline-block;
  margin-right: 7px;
}
.user-container .social .entry p {
  margin-bottom: 0px;
}
/* All Roboto Fonts - take that yoz*/
@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Regular-webfont.woff') format('woff'),
        url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Regular-webfont.svgRobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-Italic-webfont.eot');
    src: url('fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Italic-webfont.woff') format('woff'),
        url('fonts/Roboto-Italic-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Italic-webfont.svgRobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Bold-webfont.woff') format('woff'),
        url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Bold-webfont.svgRobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-BoldItalic-webfont.eot');
    src: url('fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
        url('fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
        url('fonts/Roboto-BoldItalic-webfont.svgRobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-Thin-webfont.eot');
    src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Thin-webfont.woff') format('woff'),
        url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Thin-webfont.svgRobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-ThinItalic-webfont.eot');
    src: url('fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
        url('fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
        url('fonts/Roboto-ThinItalic-webfont.svgRobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Light-webfont.woff') format('woff'),
        url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Light-webfont.svgRobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-LightItalic-webfont.eot');
    src: url('fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-LightItalic-webfont.woff') format('woff'),
        url('fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
        url('fonts/Roboto-LightItalic-webfont.svgRobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-Medium-webfont.woff') format('woff'),
        url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
        url('fonts/Roboto-Medium-webfont.svgRobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'fonts/Roboto';
    src: url('fonts/Roboto-MediumItalic-webfont.eot');
    src: url('fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
        url('fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
        url('fonts/Roboto-MediumItalic-webfont.svgRobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

body {
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png");
  font-family: 'Roboto';
}
.navbar {
  z-index: -1;
}
#users {
  color: #57534a;
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png");
}
#users p {
  font-size: 15px;
}
