doctype 5
html
  head
    title I'm Feeling Lucky. 
    link(rel='stylesheet', href='/libs/bootstrap/css/journal.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

    script
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {enabled: true};
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
    script
      require('initialize')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Dashing board
    block content


