doctype 5
html
  head
    title Dashboarding
    link(rel='stylesheet', href='/libs/bootstrap/css/journal.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

    script
      window.brunch = window.brunch || {};
      window.brunch['auto-reload'] = {enabled: true};
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
    script
      require('initialize')
  body
    a#forkme(href='https://github.com/Lebanese-OSS/Dashboard')
      img(style='position: fixed; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Dashing board
    block content


