body
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png")
  font-family: 'Roboto'

.navbar
  z-index: -1

#users
  // Fonts
  color: #57534A
  p
    font-size: 15px

  // Background
  background-image: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png")
