.container
  .row.main
    .hero-unit
      h1 Tchazzam!
      h2 Welcome, Brother.
      p Name a song you'd like to hear
      input.name(name="name")
      button.btn-inverse.form-submit Search
      div.videodiv
        iframe(title="Video Title", height="390", width="480", frameborder="0", src= "#{videourl}")
